{% extends 'webpages/base.html' %} {% block content %} {% load static %}
<h1 class="text-center">Welcome to Rigit Zoo!</h1>
<img height="400px" src="{% static 'images/kitty1.webp' %}" />
<img height="400px" src="{% static 'images/kitty2.webp' %}" />
<img height="400px" src="{% static 'images/kitty3.webp' %}" />
<img height="400px" src="{% static 'images/kitty4.webp' %}" />
<img height="400px" src="{% static 'images/kitty5.webp' %}" />
<img height="400px" src="{% static 'images/kitty6.webp' %}" />

{% endblock %}
